@import 'mixins';
@import 'root';

.about {
    &__header {
        display: flex;
        align-items: flex-start;
        margin-top: 42px;
    }

    &__title {
        margin-right: 340px;
        color: $accent;
    }

    &__text {
        max-width: 300px;
        margin-top: 6px;
    }

    &__box {
        position: relative;
        margin-top: 66px;
    }

    &__slider {
    
        & .owl-item {
            height: 500px;
            border-radius: 19px;
            overflow: hidden;
        }
        & img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__nav {
        @extend %timer-nav;
    }

    &__video {
        @extend %video;
        // overflow: hidden;
    }
}

.certificates {
    padding-top: 95px;

    &__header {
        @extend %flexbox;
        justify-content: space-between;
    }

    &__item {
        width: 280px;
        height: 400px;

        & img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__nav {
        & .owl-prev {
            margin-right: 12px;
        }

        & button {
            &:hover {
                & circle {
                    fill: $accent;
                }

                & path {
                    fill: #ffffff;
                }
            }
        }
    }

    &__slider {
        margin-top: 36px;
    }
}

@media (max-width: 1240px) {
    .about {
        &__title {
            margin-right: 240px;
        }
    }
}

@media (max-width: 768px) {
    .about {
        &__header {
            flex-wrap: wrap;
        }

        &__title {
            margin-right: 0;
        }

        &__text {
            margin-top: 16px;
        }
        &__slider {
            & .owl-item {
                height: 227px;
            }
        }
    }

    .certificates {
        &__nav {
            display: none;
        }

        &__slider {
            margin-top: 30px;
        }

        &__item {
            width: 254px;
            height: 360px;
        }
    }
}