@import 'root';
@import 'mixins';

.dpicker {
    position: absolute;
    left: -120%;
    top: 0;
    width: 390px;
    height: 490px;
    padding: 16px 18px 30px 18px;
    border-radius: 16px;
    background-color: $light;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .2);
    transition: opacity .3s, visibility .3s;
    z-index: 2;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &--order {
        position: fixed;
        left: unset;
        right: 760px;
        top: 10vh;
        z-index: 100;
    }

    &__header {
        @extend %flexbox;

        &--nav {
            justify-content: space-between;
            margin-bottom: 25px;
        }
    }

    &__current {
        text-transform: uppercase;
    }

    &__arrows {
        @extend %flexbox;
    }

    &__arrow {
        opacity: 0.4;
        padding: 4px;

        &.prev {
            margin-right: 4px;
        }
    }

    &__arrow:hover {
        opacity: 1;
    }

    &__body {
        @extend %flexbox;
        z-index: 1;
        flex-wrap: wrap;
    }

    &__item {
        @extend %flexbox;
        width: 40px;
        height: 40px;
        text-align: center;
        justify-content: center;
        margin-right: 12px;
        margin-bottom: 12px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        box-sizing: border-box;
        position: relative;
        color: $gen;
        font-size: 12px;
        z-index: 1;
        background-color: #dfdfdf;
        transition: background-color 0.3s, color 0.3s;
        font-family: $inter;
        &.weekend + .dpicker__item {
            &:before {
                visibility: hidden;
            }
        }
        // &.weekend 
        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: -50px;
        //     height: 100%;
        //     width: 80px;
        //     background-color: $accent;
        //     border-radius: 20px;
        //     opacity: 0;
        //     pointer-events: none;
        //     transition: opacity .3s;
        // }

        &:nth-child(7n) {
            margin-right: 0;
        }

        &.current {
            background-color: transparent;
            border-color: #dfdfdf;
        }

        &.today {
            border-color: $accent;
            color: $gen;
            background-color: transparent;
        }

        &.disabled {
            pointer-events: none;
        }


        &:not(.dpicker__item--header) {
            &::after {
                content: '';
                position: absolute;
            }

            &:hover,
            // &.active,
            &.ranged {
                background-color: $accent;
                border-color: #ffffff;
                color: #ffffff;
            }

            &.ranged {
                &:not(.first)::before {
                    opacity: .2;
                }
            }
            // &.removed {
            //     background-color: #dfdfdf !important;
            //     color: $gen !important; 
            // }

            &--header {
                border-color: transparent;
                background-color: transparent;
            }
        }
    }
    &__footer {
        @extend %flexbox;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    &__done {
        @extend %button;
        justify-content: space-between;
        width: 141px;
        height: 28px;
        padding: 0 12px;
        border-color: transparent;
    }
}


.cart .dpicker--order {
    position: absolute;
    left: -296px;
    right: unset;
    top: 9px;
}

// .modal .dpicker {
//     left: unset;
//     right: 740px;
//     top: 210px;
// }


@media (max-width: 1240px) {
    .dpicker {
        left: 120%;
        top: -65px;
        z-index: 5;

        &--order {
            z-index: 100;
        }
    }
}

@media (max-width: 768px) {
    .dpicker {
        left: 50%;
        transform: translateX(-50%);
        // left: -20px;
        width: 330px;
        height: 420px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, .35);

        &__item {
            width: 33px;
            height: 33px;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 10px;

            &::before {
                left: -40px;
                width: 60px;
            }
        }

        &__done {
            width: 141px;
        }

        &--order {
            // left: unset;
            // right: -150px;
            left: 50%;
        transform: translateX(-50%);
            top: 170px;
        }
    }

    .cart .dpicker--order {
        left: 50%;
    }
}