@import 'mixins';
@import 'root';

.features {
    padding-top: 75px;
    &--about {
        padding-top: 40px;
    }
    &__container {
        position: relative;
        padding: 64px 0 66px 64px;
        border-radius: 12px 12px 0 0;
        background-color: $light;
    }
    &__content {
        position: relative;
        width: 620px;
        z-index: 1;
    }
    &__title {
        @extend %accent;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: 45%;
        margin-top: 55px;
    }
    &__name {
        @extend %accent;
        min-height: 60px;
    }
    &__text {
        margin-top: 20px;
    }
    &__image {
        position: absolute;
        right: 0;
        bottom: 0;
        width: auto;
        max-width: 570px;
    }
}
