@import 'mixins';
@import 'root';

.intro {
    &__container {
        height: 576px;
        margin-top: 34px;
        border-radius: 12px;
        overflow: hidden;
    }
    &__header {
        height: 192px;
        padding: 48px 45px 0 38px;
        color: #ffffff;
        &[data-program='Lite'] {
            background-color: $accent;
        }
        &[data-program='Fit'] {
            background-color: $blue;
        }
        &[data-program='Active'] {
            background-color: $yellow;
        }
        &[data-program='Balance'] {
            background-color: $red;
        }
        &[data-program='Vitality'] {
            background-color: $aqua;
        }
    }
    &__image {
        height: calc(100% - 192px);
        object-fit: cover;
    }
    &__title {
        text-transform: uppercase;
    }
    &__block {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__order {
        @extend %button--empty;
        width: 238px;
        background-color: transparent;
        border-color: #ffffff;
        color: #ffffff;
        &:hover {
            background-color: rgba(255,255,255, .2);
            color: #ffffff;
        }
    }
    &__subtitle {
        max-width: 770px;
        margin-top: 58px;
        font-weight: 500;
        line-height: 1.5;
    }
}

.choose__box[data-program='Lite'] {
    .choose__day:hover,
    .choose__day.active,
    .choose__eating::before {
        background-color: $accent;
    }
    .choose__eating {
        color: $accent;
    }
}

.choose__box[data-program='Fit'] {
    .choose__day:hover,
    .choose__day.active,
    .choose__eating::before {
        background-color: $blue;
    }
    .choose__eating {
        color: $blue;
    }
}

.choose__box[data-program='Active'] {
    .choose__day:hover,
    .choose__day.active,
    .choose__eating::before {
        background-color: $yellow;
    }
    .choose__eating {
        color: $yellow;
    }
}

.choose__box[data-program='Balance'] {
    .choose__day:hover,
    .choose__day.active,
    .choose__eating::before {
        background-color: $red;
    }
    .choose__eating {
        color: $red;
    }
}

.choose__box[data-program='Vitality'] {
    .choose__day:hover,
    .choose__day.active,
    .choose__eating::before {
        background-color: $aqua;
    }
    .choose__eating {
        color: $aqua;
    }
}

@media (max-width: 1240px) {
    .intro {
        &__order {
            width: 238px;
            background-color: transparent;
        }
    }
}

@media (max-width: 768px) {
    .intro {
        &__container {
            height: auto;
        }
        &__header {
            height: auto;
            padding: 23px 23px 35px 23px;
        }
        &__block {
            flex-wrap: wrap;
            margin-top: 12px;
        }
        &__order {
            width: 100%;
            margin-top: 35px;
        }
        &__image {
            height: 220px;
            border-radius: 0px 0 12px 12px;
        }
        &__subtitle {
            max-width: 314px;
            margin-top: 35px;
            font-size: 20px;
        }
    }
}

