$gen: #3F4C5A;
$accent: #92B676;
$bgc: #FDFDFD;
$light: #F2F2F2;
$raleway: 'Raleway', sans-serif;
$inter: 'Inter', sans-serif;

$blue: #70B4ED;
$red: #FF7A6C;
$yellow: #FFB700;
$aqua: #74BDC1;
$grey: #979C9E;