<div class="modal modal--cart cart">
    <div class="modal__box">
        <form class="cart__form cart__form--modal" id='trial-form'>
            <div class="cart__header">
                <button type='button' class="breadcrumbs" data-close>
                    <span class="breadcrumbs__back">
                        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM17 7L1 7V9L17 9V7Z"
                                fill="white" />
                        </svg>
                    </span>
                    <span class="breadcrumbs__text">Назад</span>
                </button>
            </div>
            <h2 class="cart__title">Корзина</h2>
            <div class="cart__order"></div>
            <a href='/' class="cart__add">Добавить заказ +</a>
            <div class="cart__trial">
                <div class="cart__field">
                    <label for="phone" class="cart__label">Телефон</label>
                    <input type="number" class="cart__input" id='phone' placeholder="+7 (XXX) XXX-XX-XX">
                    <span class="cart__alert">Введите номер телефона для пробного дня</span>
                </div>
            </div>
        </form>
        <button class="cart__checkout" form='trial-form'>оформить заказ</button>
    </div>
    <div class="dpicker">
        <div class="dpicker__header dpicker__header--nav">
            <span class="dpicker__current">Апрель 2021</span>
            <div class="dpicker__arrows">
                <button type="button" class="dpicker__arrow prev">
                    <svg width="9" height="15" viewBox="0 0 9 15" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.54294 0.542908L8.95715 1.95712L3.16426 7.75001L8.95715 13.5429L7.54294 14.9571L0.335833 7.75001L7.54294 0.542908Z"
                            fill="black" />
                    </svg>
                </button>
                <button type="button" class="dpicker__arrow next">
                    <svg width="9" height="15" viewBox="0 0 9 15" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.45706 14.9571L0.0428466 13.5429L5.83574 7.74999L0.0428461 1.95709L1.45706 0.542879L8.66417 7.74999L1.45706 14.9571Z"
                            fill="black" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="dpicker__box">
            <div class="dpicker__header">
                <div class="dpicker__item dpicker__item--header">Пн</div>
                <div class="dpicker__item dpicker__item--header">Вт</div>
                <div class="dpicker__item dpicker__item--header">Ср</div>
                <div class="dpicker__item dpicker__item--header">Чт</div>
                <div class="dpicker__item dpicker__item--header">Пт</div>
                <div class="dpicker__item dpicker__item--header">Сб</div>
                <div class="dpicker__item dpicker__item--header">Вс</div>
            </div>
            <div class="dpicker__body"><button class="dpicker__item " data-date="29 3 2021">29</button><button
                    class="dpicker__item " data-date="30 3 2021">30</button><button class="dpicker__item "
                    data-date="31 3 2021">31</button><button class="dpicker__item current"
                    data-date="1 4 2021">1</button><button class="dpicker__item current"
                    data-date="2 4 2021">2</button><button class="dpicker__item current"
                    data-date="3 4 2021">3</button><button class="dpicker__item current"
                    data-date="4 4 2021">4</button><button class="dpicker__item current"
                    data-date="5 4 2021">5</button><button class="dpicker__item current"
                    data-date="6 4 2021">6</button><button class="dpicker__item current"
                    data-date="7 4 2021">7</button><button class="dpicker__item today"
                    data-date="8 4 2021">8</button><button class="dpicker__item current"
                    data-date="9 4 2021">9</button><button class="dpicker__item current"
                    data-date="10 4 2021">10</button><button class="dpicker__item current"
                    data-date="11 4 2021">11</button><button class="dpicker__item current"
                    data-date="12 4 2021">12</button><button class="dpicker__item current"
                    data-date="13 4 2021">13</button><button class="dpicker__item current"
                    data-date="14 4 2021">14</button><button class="dpicker__item current active"
                    data-date="15 4 2021">15</button><button class="dpicker__item current"
                    data-date="16 4 2021">16</button><button class="dpicker__item current"
                    data-date="17 4 2021">17</button><button class="dpicker__item current"
                    data-date="18 4 2021">18</button><button class="dpicker__item current"
                    data-date="19 4 2021">19</button><button class="dpicker__item current"
                    data-date="20 4 2021">20</button><button class="dpicker__item current"
                    data-date="21 4 2021">21</button><button class="dpicker__item current"
                    data-date="22 4 2021">22</button><button class="dpicker__item current"
                    data-date="23 4 2021">23</button><button class="dpicker__item current"
                    data-date="24 4 2021">24</button><button class="dpicker__item current"
                    data-date="25 4 2021">25</button><button class="dpicker__item current"
                    data-date="26 4 2021">26</button><button class="dpicker__item current"
                    data-date="27 4 2021">27</button><button class="dpicker__item current"
                    data-date="28 4 2021">28</button><button class="dpicker__item current"
                    data-date="29 4 2021">29</button><button class="dpicker__item current"
                    data-date="30 4 2021">30</button><button class="dpicker__item "
                    data-date="1 5 2021">1</button><button class="dpicker__item "
                    data-date="2 5 2021">2</button><button class="dpicker__item "
                    data-date="3 5 2021">3</button><button class="dpicker__item "
                    data-date="4 5 2021">4</button><button class="dpicker__item "
                    data-date="5 5 2021">5</button><button class="dpicker__item "
                    data-date="6 5 2021">6</button><button class="dpicker__item "
                    data-date="7 5 2021">7</button><button class="dpicker__item "
                    data-date="8 5 2021">8</button><button class="dpicker__item "
                    data-date="9 5 2021">9</button></div>
        </div>
        <button type='button' class="dpicker__done">
            <span>Применить</span>
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75019 7C3.4302 7 3.11021 6.88298 2.86647 6.65013L0.36655 4.25667C-0.122183 3.78978 -0.122183 3.0351 0.36655 2.56821C0.855283 2.10132 1.64526 2.10132 2.13399 2.56821L3.76518 4.13177L7.8813 0.334534C8.38003 -0.122806 9.16875 -0.109671 9.64874 0.364386C10.1287 0.838444 10.115 1.5955 9.61874 2.05284L4.61891 6.66446C4.37516 6.88895 4.06267 7 3.75019 7Z" fill="white"/>
            </svg>            
        </button>
    </div>
</div>