@charset "UTF-8";

.about__video,
.about__video > span,
.certificates__header {
  display: flex;
  align-items: center;
  align-self: center;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.about__nav {
  position: absolute;
  width: 100%;
  top: 50%;
}

.about__nav button {
  position: absolute;
}

.about__nav .owl-prev {
  left: -20px;
  transform: translate(-100%, -50%);
}

.about__nav .owl-next {
  right: -10px;
  transform: translate(100%, -50%);
}

.about__video {
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.about__video:hover svg {
  transform: scale(1.2);
}

.about__video > button {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3F4C5A;
  opacity: 0.5;
}

.about__video > button:hover {
  opacity: 0.2;
}

.about__video > img {
  position: absolute;
  object-fit: cover;
  height: 100%;
}

.about__video > span {
  justify-content: center;
  position: relative;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background-color: #FF7A6C;
  pointer-events: none;
}

.about__video > span > img {
  position: absolute;
  width: 125%;
  height: 125%;
  animation: rotate 12s linear infinite;
}

.about__video > span svg {
  width: 35px;
  height: 35px;
  transition: transform .3s;
}

.about__video > span svg path {
  fill: #F2F2F2;
}

.about__video iframe {
  width: 100%;
  height: 100%;
}

.about__header {
  display: flex;
  align-items: flex-start;
  margin-top: 42px;
}

.about__title {
  margin-right: 340px;
  color: #92B676;
}

.about__text {
  max-width: 300px;
  margin-top: 6px;
}

.about__box {
  position: relative;
  margin-top: 66px;
}

.about__slider .owl-item {
  height: 500px;
  border-radius: 19px;
  overflow: hidden;
}

.about__slider img {
  height: 100%;
  object-fit: cover;
}

.certificates {
  padding-top: 95px;
}

.certificates__header {
  justify-content: space-between;
}

.certificates__item {
  width: 280px;
  height: 400px;
}

.certificates__item img {
  height: 100%;
  object-fit: contain;
}

.certificates__nav .owl-prev {
  margin-right: 12px;
}

.certificates__nav button:hover circle {
  fill: #92B676;
}

.certificates__nav button:hover path {
  fill: #ffffff;
}

.certificates__slider {
  margin-top: 36px;
}

@media (max-width: 1240px) {
  .about__nav {
    position: static;
    display: flex;
    justify-content: flex-end;
  }

  .about__nav button {
    position: static;
  }

  .about__nav .owl-prev {
    margin-right: 10px;
  }

  .about__nav .owl-prev,
  .about__nav .owl-next {
    transform: none;
  }

  .about__title {
    margin-right: 240px;
  }
}

@media (max-width: 768px) {
  .about__video > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
  }

  .about__video > span::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FEFEFE;
  }

  .about__video > span svg {
    display: none;
  }

  .about__header {
    flex-wrap: wrap;
  }

  .about__title {
    margin-right: 0;
  }

  .about__text {
    margin-top: 16px;
  }

  .about__slider .owl-item {
    height: 227px;
  }

  .certificates__nav {
    display: none;
  }

  .certificates__slider {
    margin-top: 30px;
  }

  .certificates__item {
    width: 254px;
    height: 360px;
  }
}