@charset "UTF-8";

.dpicker__done,
.dpicker__header,
.dpicker__arrows,
.dpicker__body,
.dpicker__item {
  display: flex;
  align-items: center;
  align-self: center;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.dpicker__done {
  justify-content: center;
  height: 50px;
  background-color: #92B676;
  border-radius: 8px;
  border: 1px solid #92B676;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
}

.dpicker__done:hover {
  background-color: #6D9240;
}

.dpicker {
  position: absolute;
  left: -120%;
  top: 0;
  width: 390px;
  height: 490px;
  padding: 16px 18px 30px 18px;
  border-radius: 16px;
  background-color: #F2F2F2;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: opacity .3s, visibility .3s;
  z-index: 2;
}

.dpicker.active {
  opacity: 1;
  visibility: visible;
}

.dpicker--order {
  position: fixed;
  left: unset;
  right: 760px;
  top: 10vh;
  z-index: 100;
}

.dpicker__header--nav {
  justify-content: space-between;
  margin-bottom: 25px;
}

.dpicker__current {
  text-transform: uppercase;
}

.dpicker__arrow {
  opacity: 0.4;
  padding: 4px;
}

.dpicker__arrow.prev {
  margin-right: 4px;
}

.dpicker__arrow:hover {
  opacity: 1;
}

.dpicker__body {
  z-index: 1;
  flex-wrap: wrap;
}

.dpicker__item {
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  color: #3F4C5A;
  font-size: 12px;
  z-index: 1;
  background-color: #dfdfdf;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Inter", sans-serif;
}

.dpicker__item.weekend + .dpicker__item:before {
  visibility: hidden;
}

.dpicker__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  height: 100%;
  width: 80px;
  background-color: #92B676;
  border-radius: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}

.dpicker__item:nth-child(7n) {
  margin-right: 0;
}

.dpicker__item.current {
  background-color: transparent;
  border-color: #dfdfdf;
}

.dpicker__item.today {
  border-color: #92B676;
  color: #3F4C5A;
  background-color: transparent;
}

.dpicker__item.disabled {
  pointer-events: none;
}

.dpicker__item:not(.dpicker__item--header)::after {
  content: '';
  position: absolute;
}

.dpicker__item:not(.dpicker__item--header):hover,
.dpicker__item:not(.dpicker__item--header).active,
.dpicker__item:not(.dpicker__item--header).ranged {
  background-color: #92B676;
  border-color: #ffffff;
  color: #ffffff;
}

.dpicker__item:not(.dpicker__item--header).ranged:not(.first)::before {
  opacity: .2;
}

.dpicker__item:not(.dpicker__item--header)--header {
  border-color: transparent;
  background-color: transparent;
}

.dpicker__done {
  justify-content: space-between;
  float: right;
  width: 141px;
  height: 28px;
  margin-top: 10px;
  padding: 0 12px;
  border-color: transparent;
}

.cart .dpicker--order {
  position: absolute;
  left: -296px;
  right: unset;
  top: 9px;
}

@media (max-width: 1240px) {
  .dpicker__done {
    width: 100%;
    max-width: 420px;
    background-color: #92B676;
    color: #ffffff;
  }

  .dpicker {
    left: 120%;
    top: -65px;
    z-index: 5;
  }

  .dpicker--order {
    z-index: 100;
  }
}

@media (max-width: 768px) {
  .dpicker {
    left: 50%;
    transform: translateX(-50%);
    left: -20px;
    width: 330px;
    height: 420px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.35);
  }

  .dpicker__item {
    width: 33px;
    height: 33px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 10px;
  }

  .dpicker__item::before {
    left: -40px;
    width: 60px;
  }

  .dpicker__done {
    width: 141px;
  }

  .dpicker--order {
    left: 50%;
    transform: translateX(-50%);
    top: 170px;
  }

  .cart .dpicker--order {
    left: 50%;
  }
}