@charset "UTF-8";

.terms__order,
.delivery__itemPay {
  display: flex;
  align-items: center;
  align-self: center;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.terms__order {
  justify-content: center;
  height: 50px;
  background-color: #92B676;
  border-radius: 8px;
  border: 1px solid #92B676;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
}

.terms__order:hover,
.terms__order:focus {
  background-color: #6D9240;
}

.delivery__subtitle strong {
  color: #92B676;
  font-weight: inherit;
}

.delivery__container {
  margin-top: 67px;
}

.delivery__title {
  color: #92B676;
}

.delivery__terms {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.delivery__block {
  width: 580px;
}

.delivery__subtitle,
.delivery__list {
  max-width: 70%;
}

.delivery__subtitle {
  min-height: 60px;
}

.delivery__list {
  margin-top: 38px;
}

.delivery__item {
  position: relative;
  padding-left: 44px;
}

.delivery__item:not(:first-child) {
  margin-top: 28px;
}

.delivery__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background-color: #92B676;
  background-image: url("../img/done.svg");
  background-size: 9px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.delivery__item--payment {
  display: flex;
}

.delivery__itemPay {
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background-color: #F2F2F2;
  transform: translateY(-30%);
}

.delivery__itemPay img {
  mix-blend-mode: multiply;
  object-fit: contain;
}

.delivery__item span {
  margin-right: 14px;
}

.delivery__item span:first-child {
  margin-right: 30px;
}

.terms {
  padding-top: 115px;
}

.terms__box {
  display: flex;
  justify-content: space-between;
  padding: 42px;
  border-radius: 16px;
  background-color: #F2F2F2;
}

.terms__box:not(:first-child) {
  margin-top: 38px;
}

.terms__box > :first-child {
  width: 480px;
}

.terms__box > :last-child {
  width: 540px;
}

.terms__box:nth-child(even) > :last-child {
  order: -1;
  width: 480px;
}

.terms__box:nth-child(even) > :first-child {
  width: 540px;
}

.terms__box h2 {
  max-width: 380px;
}

.terms__box p {
  max-width: 326px;
  margin-top: 17px;
}

.terms__image {
  object-fit: cover;
  border-radius: 12px;
}

.terms__order {
  width: 211px;
  margin-top: 32px;
}

@media (max-width: 1240px) {
  .terms__order {
    width: 100%;
    max-width: 420px;
    background-color: #92B676;
    color: #ffffff;
  }

  .terms__box > :last-child,
  .terms__box:nth-child(even) > :first-child {
    width: 460px;
  }

  .terms__box:nth-child(even) > :last-child {
    width: 370px;
  }
}

@media (max-width: 768px) {
  .delivery__container {
    margin-top: 50px;
  }

  .delivery__terms {
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .delivery__block {
    width: 100%;
  }

  .delivery__block:last-child {
    margin-top: 38px;
  }

  .delivery__subtitle {
    max-width: 100%;
    min-height: 0;
  }

  .delivery__list {
    max-width: 100%;
    margin-top: 30px;
  }

  .delivery__item span {
    margin-right: 4px;
  }

  .delivery__item span:first-child {
    margin-right: 26px;
  }

  .terms {
    padding-top: 68px;
  }

  .terms__box {
    flex-wrap: wrap;
    padding: 0;
    background-color: unset;
  }

  .terms__box:nth-child(even) > :first-child,
  .terms__box > :last-child {
    width: 100%;
  }

  .terms__box:nth-child(even) > :last-child {
    order: 0;
    width: 100%;
  }

  .terms__box h2 {
    max-width: 80%;
  }

  .terms__image {
    margin-top: 40px;
  }
}