@charset "UTF-8";

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.features__title strong,
.features__name strong {
  color: #92B676;
  font-weight: inherit;
}

.features {
  padding-top: 75px;
}

.features--about {
  padding-top: 40px;
}

.features__container {
  position: relative;
  padding: 64px 0 66px 64px;
  border-radius: 12px 12px 0 0;
  background-color: #F2F2F2;
}

.features__content {
  position: relative;
  width: 620px;
  z-index: 1;
}

.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features__item {
  width: 45%;
  margin-top: 55px;
}

.features__name {
  min-height: 60px;
}

.features__text {
  margin-top: 20px;
}

.features__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  max-width: 570px;
}