@charset "UTF-8";

.intro__link,
.about__link,
.trial__order,
.offers__join,
.about__video,
.about__video > span,
.intro__container,
.trial__container,
.reviews__block,
.reviews__info {
  display: flex;
  align-items: center;
  align-self: center;
}

/*Кнопка меню*/

/*В разметке обязательно должна иметь внутренний span */

/*<button class="burger"><span></span></button>*/

.intro__link,
.about__link,
.trial__order {
  justify-content: center;
  height: 50px;
  background-color: #92B676;
  border-radius: 8px;
  border: 1px solid #92B676;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
}

.intro__link:hover,
.about__link:hover,
.trial__order:hover {
  background-color: #6D9240;
}

.intro__link {
  background-color: transparent;
  color: #3F4C5A;
  transition: all .3s;
}

.intro__link:hover {
  color: #92B676;
  background-color: transparent;
}

.intro__link:focus {
  background-color: #92B676;
  color: #ffffff;
  transform: translateY(-6px);
}

.offers__join {
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 8px;
  transition: all .3s;
}

.offers__join:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 5px 18px -6px rgba(34, 60, 80, 0.2);
}

.offers__nav,
.reviews__nav {
  position: absolute;
  width: 100%;
  top: 50%;
}

.offers__nav button,
.reviews__nav button {
  position: absolute;
}

.offers__nav .owl-prev,
.reviews__nav .owl-prev {
  left: -20px;
  transform: translate(-100%, -50%);
}

.offers__nav .owl-next,
.reviews__nav .owl-next {
  right: -10px;
  transform: translate(100%, -50%);
}

.offers__slider,
.reviews__slider {
  opacity: 0;
  transition: opacity .3s;
}

.owl-loaded.offers__slider,
.owl-loaded.reviews__slider {
  opacity: 1;
}

.intro__title * strong {
  color: #92B676;
  font-weight: inherit;
}

.about__video {
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.about__video:hover svg {
  transform: scale(1.2);
}

.about__video > button {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3F4C5A;
  opacity: 0.5;
}

.about__video > button:hover {
  opacity: 0.2;
}

.about__video > img {
  position: absolute;
  object-fit: cover;
  height: 100%;
}

.about__video > span {
  justify-content: center;
  position: relative;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background-color: #FF7A6C;
  pointer-events: none;
}

.about__video > span > img {
  position: absolute;
  width: 125%;
  height: 125%;
  animation: rotate 12s linear infinite;
}

.about__video > span svg {
  width: 35px;
  height: 35px;
  transition: transform .3s;
}

.about__video > span svg path {
  fill: #F2F2F2;
}

.about__video iframe {
  width: 100%;
  height: 100%;
}

.intro {
  padding-top: 25px;
}

.intro__container {
  justify-content: space-between;
  position: relative;
}

.intro__container .circle {
  top: 260px;
  background-color: #B7D972;
}

.intro__block {
  width: 360px;
}

.intro__block:last-child {
  position: relative;
  width: 780px;
  height: 400px;
  border-radius: 24px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(33, 33, 33, 0.1), rgba(33, 33, 33, 0.1));
}

.intro__block:last-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro__text {
  max-width: 90%;
  margin-top: 36px;
}

.intro__link {
  width: 240px;
  margin-top: 38px;
}

.intro__social {
  position: absolute;
  right: 30px;
  bottom: 26px;
  transition: transform .3s;
}

.intro__social:hover {
  transform: scale(1.07);
}

.intro__social svg {
  width: 50px;
  height: 50px;
}

.offers {
  padding-top: 50px;
}

.offers__container {
  position: relative;
}

.offers__slider {
  overflow: hidden;
}

.offers__slider .owl-stage {
  display: flex;
}

.offers__item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 380px;
  min-height: 200px;
  height: 100%;
  padding: 18px 21px 22px 24px;
  border-radius: 16px;
  color: #ffffff;
}

.offers__item--red {
  background-color: #FF7A6C;
}

.offers__item--blue {
  background-color: #70B4ED;
}

.offers__item--yellow {
  background-color: #FFB700;
}

.offers__header {
  width: 100%;
  height: fit-content;
}

.offers__discount {
  display: flex;
  align-items: center;
  width: 100%;
}

.offers__title {
  margin-right: 18px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -3px;
}

.offers__desc {
  text-transform: uppercase;
}

.offers__text {
  max-width: 250px;
  margin-top: 12px;
}

.offers__footer {
  align-self: flex-end;
  width: 100%;
  margin-top: 14px;
}

.offers__join {
  width: 168px;
  height: 30px;
}

.about {
  padding-top: 52px;
}

.about__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 58px 60px;
  border-radius: 24px;
  background-color: #F2F2F2;
}

.about__container .circle {
  right: -50px;
  left: unset;
  width: 233px;
  height: 233px;
  top: 220px;
}

.about__block {
  width: 460px;
}

.about__block:last-child {
  position: relative;
  width: 470px;
  border-radius: 16px;
  overflow: hidden;
}

.about__title {
  margin-top: 28px;
}

.about__text {
  max-width: 80%;
  margin-top: 12px;
}

.about__link {
  width: 210px;
  margin-top: 37px;
}

.about__frame {
  width: 100%;
  height: 100%;
}

.trial {
  padding-top: 85px;
}

.trial__container {
  justify-content: space-between;
  position: relative;
  background: linear-gradient(0deg, #F0F1E8, #F0F1E8);
  border-radius: 24px;
}

.trial__container .circle {
  width: 233px;
  height: 233px;
  background-color: #FF7A6C;
}

.trial__content {
  max-width: calc(100% - 600px);
  padding: 45px 0 40px 56px;
}

.trial__subtitle,
.trial__price,
.trial__order {
  margin-top: 22px;
}

.trial__subtitle {
  max-width: 260px;
}

.trial__order {
  width: 210px;
  height: 50px;
}

.trial__background {
  max-width: 570px;
}

.trial__image {
  object-fit: contain;
}

.reviews {
  padding-top: 124px;
}

.reviews__container {
  position: relative;
  margin-top: 28px;
}

.reviews__slider .owl-stage {
  display: flex;
}

.reviews__item {
  height: 100%;
  border: 1px solid #F2F2F2;
}

.reviews__image {
  width: 380px;
  height: 380px;
  object-fit: cover;
}

.reviews__description {
  padding: 20px 14px;
}

.reviews__text {
  max-width: 260px;
  font-size: 14px;
  letter-spacing: 0.6px;
}

.reviews__info:first-of-type {
  margin-right: 15px;
}

.reviews__info svg {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

@media (max-width: 1240px) {
  .intro__link,
  .about__link,
  .trial__order {
    width: 100%;
    max-width: 420px;
    background-color: #92B676;
    color: #ffffff;
  }

  .offers__nav,
  .reviews__nav {
    position: static;
    display: flex;
    justify-content: flex-end;
  }

  .offers__nav button,
  .reviews__nav button {
    position: static;
  }

  .offers__nav .owl-prev,
  .reviews__nav .owl-prev {
    margin-right: 10px;
  }

  .offers__nav .owl-prev,
  .reviews__nav .owl-prev,
  .offers__nav .owl-next,
  .reviews__nav .owl-next {
    transform: none;
  }

  .intro {
    padding-top: 0;
  }

  .intro__block {
    width: 260px;
  }

  .intro__block:last-child {
    width: 660px;
    height: 380px;
  }

  .offers {
    padding-top: 33px;
  }

  .offers__nav {
    margin-top: 15px;
  }

  .about {
    padding-top: 48px;
  }

  .about__container {
    padding: 40px;
  }

  .about__container .circle {
    right: 0;
    top: 140px;
  }

  .about__block {
    width: 350px;
  }

  .about__title {
    margin-top: 0;
  }

  .trial {
    padding-top: 50px;
  }

  .reviews {
    padding-top: 70px;
  }

  .reviews__slider {
    margin-top: 34px;
  }

  .reviews__nav {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .about__video > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
  }

  .about__video > span::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FEFEFE;
  }

  .about__video > span svg {
    display: none;
  }

  .intro__container {
    flex-wrap: wrap;
  }

  .intro__container .circle {
    display: none;
  }

  .intro__block {
    width: 100%;
  }

  .intro__block:last-child {
    order: -1;
    height: 62vw;
    margin-bottom: 32px;
    border-radius: 12px;
  }

  .intro__social {
    bottom: 10px;
    right: 6px;
  }

  .intro__text {
    margin-top: 18px;
  }

  .intro__link {
    margin-top: 32px;
    max-width: 337px;
  }

  .offers__item {
    width: 338px;
    max-width: calc(100vw - 32px);
  }

  .offers__title {
    font-size: 48px;
  }

  .offers__nav {
    padding-right: 16px;
  }

  .about__container {
    flex-wrap: wrap;
    padding: 23px;
  }

  .about__container .circle {
    display: none;
  }

  .about__block:last-child {
    order: -1;
    height: 56vw;
    margin-bottom: 50px;
  }

  .trial__container {
    flex-wrap: wrap;
  }

  .trial__content {
    padding: 17px 23px 23px 21px;
    max-width: 100%;
  }

  .trial__background {
    order: -1;
    width: 100%;
  }

  .trial__title br {
    display: none;
  }

  .trial__subtitle {
    margin-top: 18px;
  }

  .trial__price {
    margin-top: 28px;
  }

  .trial__order {
    margin-top: 23px;
  }

  .reviews__item {
    max-width: 323px;
    width: 88vw;
  }

  .reviews__image {
    width: 100%;
    height: 88vw;
    max-height: 323px;
  }

  .reviews__nav {
    padding-right: 16px;
  }
}